body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}

#app{
    /* grid-template-columns:  */
    height:100vh;
    background: grey;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.flex-container{
    display: flex;
    justify-content: center;
}


.entry{
    background: rgba(59, 74, 107, .4);
    color: chartreuse;

}


.headline {
    padding-top: 30px;
    text-align: center;
    color: chartreuse;
}
.title{
    text-align: center;
    font-size: 28px;
    color: chartreuse;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 4rem;
    width: 100%;
    background:#22b2da;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
}
.btn{
    display: flex;
    justify-content: center;
}
button{
    display: block;
    width: 30%;
    height: 5rem;
    background: turquoise;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}
button:hover {
    background:antiquewhite;
    transition: .5s;
}
h1{
    font-size: 36px;
}
.zip{
    margin-right: 50px;
}

textarea{
    background:#22b2da;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    font-family: 'Oswald', sans-serif;

} 
